@media screen and (max-width : 755px) {

html, body {
  position:relative;
  overflow-x:hidden;
}

	.en-tête{
		display: block;
}

#logo{
	margin-top: 10px;
	width:20%;
	height: auto;
	margin-left: 30px;
}

nav a {
		margin:0px;
		border-bottom:3px solid #f2f2f2;
		padding-bottom: 20px;
		font-size: 15px;
}

nav{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr;
	text-align: center;
	width:100%;
	margin-top: 30px;
}



nav a:hover{
border-top:none;
padding-bottom: 20px;
border-bottom: 3px solid #0065fc;
}

#inscription{
	left:80%;
	margin-top:5px;
	border:none;
}

main{
	grid-template-columns:1fr;
	grid-template-rows: 660px 700px 1080px 2000px;
	margin:0px;
	width: 100%;
	margin: auto;
}



button{
	width:45px;
	height:45px;
	border-radius: 10px;
	font-size:15px;	
}

button span {
	margin-top: 2px;
}

input{
	width: 200px;
	height: 42px;
	font-size: 15px;
}

.position{
	width: 45px;
	height: 45px;
	border-radius: 10px 0px 0px 10px; 
	font-size:15px;
}

.section-recherche {
	width:100%;
	margin-left: 20px;
}



.section-recherche p{
	font-size: 15px;
}
.section-recherche h1{
	font-size: 20px;
	width: 80%;
}

.filtre-h2{
	margin-left: 30px;
	width: 100%;
}

.filtres{
	width: 97%;
	margin:auto;
}

.filtres div{
	
	margin-bottom: 10px;
	margin-left: 2px;

}

.info-logement{
	padding-top: 30px;
	font-size: 15px;
	width:90%; 
	margin: auto;
}



.logo-info{
	width: 20px;
	height: 20px;
	margin-bottom: 15px;
	margin-right: 5px;
}

.info-logement{
	font-size: 12px;
	margin-top: -20px;
}

.hébergements{
	grid-column: 1/3;
	grid-row: 3;
	display:grid;
	grid-template-columns: 1fr;
	grid-template-rows: 120px;
	background-color: white;
	padding: 0px;
	width:100%; 
	margin: auto;
	grid-gap: 0px;
}

.hébergements h2{
	font-size: 25px;
	width: 100%;
	width:90%;
	margin: auto;

}

.cartes{
	grid-column: 1/3;
	height:220px;
	border-radius: 20px;
	margin: auto;
	width:90%;
	margin-bottom: 20px;
}

.cartes img{
	height:110px;
	border-radius: 15px 15px 0px 0px;
}



.afficher-plus{
	grid-row: 8;
	font-size: 15px;
}
	
.populaires{
	grid-column: 1/3;
	grid-row: 2;
	border-radius: 0px;
	width:100%; 
}

.populaires h2{
	font-size: 25px;
	margin-bottom: 20px;
}

.populaire-icon{
	padding:20px; 
}


.populaires span i{
	font-size: 25px;
	padding-right: 40px;
}

.cartes-aside{
	width: 90%;
	height:150px;
	font-size:15px;
	margin: auto;
	margin-bottom:20px;
	border-radius: 20px;
}
.cartes-aside img{
		border-radius: 15px 0px 0px 15px;
}

.étoile-populaire{
	margin-top: 40px;
}



.activités{
	grid-column: 1/3;
	grid-row: 4;
	display: block;
	width:100%; 
	margin: auto;
	font-size: 15px;
	margin-bottom: 0px;
	
}

.activités h2{

	font-size: 25px;
	margin-bottom: 40px;
	width: 90%;
	margin: auto;
}

.cartes-activité{

	margin-top: 20px;
	height: 200px;
	border-radius: 20px;
	font-size: 15px;
	margin-top:40px;
	width: 95%;
	margin: auto;

}



.cartes-activité-ile{

	height: 200px;
	width: 95%;
	margin: auto;
	margin-top:20px;
}

.cartes-activité-parc{
	
	height: 200px;
	width: 95%;
	margin: auto;
	margin-top: 20px;
}

.cartes-activité-fort{

	height: 200px;
	width: 95%;
	margin: auto;
	margin-top:20px;

}

.cartes-activité-eglise{
	
	height: 200px;
	width: 95%;
	margin: auto;
	margin-top:20px;
}


#calanque,#port{
	padding-bottom:5px;
	height: 200px;
	margin: auto;
	margin-top:20px;
}

.vieux-port,.parc{
	height: 200px;
}

.cartes-activité img{
border-radius: 20px 20px 0px 0px;
}

.activités img{
	height:150px; 
}

.activités h3{
	margin-top: 0px;
}

.activités div h3{
	padding-top: 10px;
}


footer{
	height: 750px;
	width: 100%;


}

footer div{
	display: block;
}

footer ul li{	
	font-size: 17px;
	padding-left: 0px;
	display: block;
}

footer ul {
	padding: 0px;
	margin-bottom: 80px;
	padding-top: 20px;
	width: 100%;


	
}

footer section{
	padding-top:20px; 
	display: block;
}

.loupe{
	display: block;
}

.text-cherche{
	display: none;
}

}












@media screen and (min-width : 756px) and (max-width : 1150px) {

#logo{
	width: 100px;
	height: 50px;
	padding: 0px;
}

html, body {
  position:relative;
  overflow-x:hidden;
}

main{
	display:grid;
	grid-template-columns:1fr;
	grid-template-rows: 650px 750px 250px 450px 1500px;
	grid-gap: 30px;	
}




nav a {
		margin:0px;
		border-bottom:3px solid #f2f2f2;
		padding-bottom: 20px;
		font-size: 15px;
		width: 50%;
}

nav{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr;
	width:100%;
	margin-top: 70px;
	text-align: center;
	margin-bottom: 50px;
}



nav a:hover{
border-top:none;
margin-bottom: 0px;
border-bottom: 3px solid #0065fc;

}

#inscription{
	left:60%;
	margin-top:5px;
	border:none;
}

.filtres{
	width: 100%;
	height: 100px;

}

.info-logement{
	margin-top:80px; 
}

.hébergements{
	width: 104%;
	height: 650px;
}
.hébergements h2{
	font-size: 20px;
}

.populaires{
	width: 104%;
	height: 700px;
	grid-column: 1/2;
    grid-row: 3;

}

.populaires h2{
	width: 85%;
	margin: auto;
}

.cartes-aside h3 {
		font-size: 15px;
}


.cartes{
	height:180px;
}

.cartes h3,.cartes p,.cartes i{
	font-size: 10px;
}
.cartes-aside{
	height: 130px;
	width: 80%;
	margin: 0px;
	margin:auto;
	margin-top: 40px;

}

.activités{
	grid-column: 1/2;
    grid-row: 5;
    padding-bottom: 90px;
    display: block;
}


.activités h2{

	font-size: 25px;
	margin-bottom: 40px;
	width: 90%;
	margin: auto;
}

.cartes-activité{

	margin-top: 20px;
	height: 200px;
	border-radius: 20px;
	font-size: 15px;
	margin-top:40px;
	width: 95%;
	margin: auto;

}



.cartes-activité-ile{

	height: 200px;
	width: 95%;
	margin: auto;
	margin-top:20px;
}

.cartes-activité-parc{
	
	height: 200px;
	width: 95%;
	margin: auto;
	margin-top: 20px;
}

.cartes-activité-fort{

	height: 200px;
	width: 95%;
	margin: auto;
	margin-top:20px;

}

.cartes-activité-eglise{
	
	height: 200px;
	width: 95%;
	margin: auto;
	margin-top:20px;
}


#calanque,#port{
	padding-bottom:5px;
	height: 200px;
	margin: auto;
	margin-top:20px;
}

.vieux-port,.parc{
	height: 200px;
}

.cartes-activité img{
border-radius: 20px 20px 0px 0px;
}

.activités img{
	height:150px; 
}

.activités h3{
	margin-top: 0px;
}

.activités div h3{
	padding-top: 10px;
}


.cartes-aside h3,.cartes-aside p,.cartes-aside i{
	font-size: 10px;
}

footer{
	height: 300px;
	width: 100%;
}

footer ul li {
	font-size: 14px;
}

footer ul {
	margin: 0px;
	margin-top: 30px;
}

}



@media screen and (min-width : 1300px) {

	nav{
		padding-right: 80px;
	}

}